__pycache__/
*.pyo
*.pyd
.python-version

env/
.venv/

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.git/
.gitignore

logs/
.cache
.mypy_cache/
.pytest_cache/

# Артефакты сборки
dist/
*.egg-info/

.idea/

docs/
tests/
docker/

